{% extends 'main.html' %}

{% block content %}

{% load static %}

<form action="/main/" method="post">
    {% csrf_token %}

    <p>Scam url:<br> <input name="first_url"/></p>
    <p>Normal url:<br> <input name="second_url"/></p>
    <input type="submit" value="Send"/>

<h2>Похожесть текста: </h2>
    {{ text_sim }}
<h2>Похожесть HTML: </h2>
    {{ html_sim }}

    <h2>Сравнение частей ссылки:</h2>
    <ul>
        {% for part in parts %}
        <li>{{ part }}</li>
        {% endfor %}
    </ul>
    <h2>Сравнение картинок:</h2>


{% if img == "Нет картинок на одном из сайтов" %}
        {{ img }}
{% else %}
        {% for el in img %}
        <li>{{ el }}</li>
        {% endfor %}
{% endif %}



</form>

{% endblock %}